.yt-current-weather {

}

.yt-current-weather-icon {
    float: left;
}

.yt-current-weather-big-icon {
    height: 128px;
}

.yt-current-weather-details {
    float: left;
}

.yt-current-weather-details .yt-location {
    font-size: 2em;
    line-height: 1.1em;
    font-weight: bold;
}

.yt-current-weather-details .yt-temp {
    font-size: 2em;
    line-height: 1em;
}

.yt-temp .yt-temp-value {
    float: left;
}

.yt-temp .yt-temp-unit {
    font-size: 0.7em;
    float: left;
    margin-top: -2px;
}

.yt-weather-forecast .yt-weather-forecast-details {
    float: left;
    text-align: center;
}

.yt-weather-forecast-small-icon {
    height: 32px;
}

.yt-weather-forecast .yt-weather-forecast-temp {
    font-size: 0.8em;
}

.yt-weather-forecast div.yt-weather-forecast-date,
.yt-weather-forecast div.yt-weather-forecast-icon,
.yt-weather-forecast div.yt-weather-forecast-temp {
    text-align: center;
}

.yt-copyright {
    text-align: center;
}
.yt-weather-float {
    position: fixed;
    right: -400px;
    width: 400px;
    top: 200px;
}
.yt-weather-float .yt-weather-float-icon {
    width: 64px;
    position: relative;
    right: 64px;
    height: 64px;
    float: left;
}
.yt-weather-float .yt-weather-main {
    border: 2px solid #383838;
}
.yt-weather-float .yt-weather-float-icon:hover {
    cursor: pointer;
}