/*
 * mod_yt_float_social.css - mod_yt_float_social - YT Float Social by YesTheme
 * ------------------------------------------------------------------------
 *   Author     YesTheme http://yestheme.com
 *   Copyright (C) 2008 - 2013 YesTheme.com. All Rights Reserved.
 *   @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 *   Websites   http://yestheme.com
 * ------------------------------------------------------------------------
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=all);

.pane-sliders > .panel,
.pane-sliders > .panel > .pane-slider,
.pane-sliders > .panel > .pane-slider > .panelform {
    border: none !important;
    font-family: "Open Sans", sans-serif;
    background: transparent;
}

.pane-sliders > .panel {
    box-shadow: -2px -2px 3px rgba(224, 226, 228, 0.4);
    margin: 10px 0 0;
    width: 100%;
}
.pane-sliders > .panel > h3 {
    background: none repeat scroll 0 0 #F0F1F2 !important;
    border: 1px solid #DAE1E8;
    border-radius: 3px 3px 0 0;
    line-height: 40px;
    font-weight: normal;
    font-size: 16px;
}
.pane-sliders > .panel > .pane-slider {
    border: 1px solid #DAE1E8 !important;
    border-width: 0 1px 1px !important;
    background-color: #FFF;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform {
    padding: 0;
    margin: 0;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li {
    min-height: 40px;
    border-bottom: 1px solid #F2F3F4;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li:nth-child(2n),
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li:nth-child(2n) fieldset {
    background-color: #F9F9F9;
}

.pane-sliders > .panel > .pane-slider > fieldset.panelform label {
    padding: 5px;
    margin: 7px;
    font-size: 11px;
}

.pane-sliders > .panel > .pane-slider > fieldset.panelform input,
.pane-sliders > .panel > .pane-slider > fieldset.panelform textarea {
    background-color: #FFFFFF;
    border: 1px solid #C0CAD5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.pane-sliders > .panel > .pane-slider > fieldset.panelform select,
.pane-sliders > .panel > .pane-slider > fieldset.panelform textarea,
.pane-sliders > .panel > .pane-slider > fieldset.panelform input {
    color: #555555;
    display: inline-block;
    font-size: 11px;
    padding: 5px;
    margin: 7px 5px 6px;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform select {
    background-color: #FFFFFF;
    border: 1px solid #C0CAD5;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li > fieldset,
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="file"],
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="image"],
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="submit"],
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="reset"],
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="button"],
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="radio"],
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="checkbox"] {
    width: auto;
    margin: 0 5px;
    padding: 0;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li > fieldset > label {
    margin: 0;
    padding: 0;
}

.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li > fieldset {
    padding: 5px;
    margin: 7px;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li > fieldset.checkboxes {
    float: none;
    padding: 0;
    margin: 0;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li > fieldset.checkboxes ul li {
    float: left;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform > ul.adminformlist > li > fieldset.checkboxes label {
    margin-left: 0px;
}
.pane-sliders > .panel > .pane-slider > fieldset.panelform input[type="checkbox"] {
    margin: 14px 0px 13px 5px;
}

.pane-sliders > .panel p.tip {
    border: none;
    margin: 0;
    padding: 5px 0px;
    max-width: 100%;
    float: none;
    z-index: 0;
    text-align: center;
    font-size: 11px;
}

.pane-sliders > .panel .yt-title-label {
    background: none repeat scroll 0 0 #6487AC;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    font-size: 14px;
    padding: 10px 0px;
}